<% provide(:title, 'Sign up') %>
<h1>Sign Up</h1>
<div>
  <div>
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
